<div class="forum-card">
    <%= link_to forum_path(forum), class: "forum-card__link" do %>
        <header class="forum-card__header">
            <h4>
                <% if forum.locked %>
                    <span class="fa fa-lock forum-card__icon"></span>
                <% end %>
                <%= forum.title %>
            </h4>
        </header>
        <div class="forum-card__content">
            <p><%= forum.description %></p>
        </div>
    <% end %>
    <% if user_has_role?(:admin) %>
        <footer class="forum-card__footer">
            <%= link_to edit_forum_path(forum) do %>
                <span class="far fa-edit"></span>
            <% end %>
            <%= link_to forum_path(forum), method: :delete, data: {confirm: "Are you sure you want to delete the forum #{forum.title}?"} do %>
                <span class="far fa-trash-alt"></span>            
            <% end %>  
        </footer>
    <% end %>
</div>