<%= form_with model: forum, class: "form" do |form| %>
    <div class="form__title">
        <h1><%= form_title %></h1>
    </div>
    <div class="form__field">
        <%= form.label :title, class: "form__label" %>
        <%= form.text_field :title, required: true, class: "form__input" %>
    </div>
    <div class="form__field">
        <%= form.label :description, class: "form__label" %>
        <%= form.text_area :description, class: "form__input", rows: 4 %>
    </div>
    <div class="form__field">
        <%= form.label :channel_id, class: "form__label" %>
        <div class="form__select-wrapper">
            <%= form.select :channel_id, channel_options, {}, selected: params[:channel], class: "form__input form__input--select" %>    
        </div>
    </div>
    <div class="form__field">
        <%= form.label :position, class: "form__label" %>
        <%= form.number_field :position, class: "form__input form__input--number" %>
    </div>
    <div class="form__field form__field--row">
        <%= form.check_box :locked, class: "form__checkbox" %>
        <%= form.label :locked, class: "form__label" %>
    </div>
    <%= form.submit "Submit", class: "form__submit" %>
<% end %>