<%= form_with model: [@forum_thread, @forum_thread.forum_replies.build], id: "post-reply", class: "form full" do |form| %>
    <div class="form__title">
        <h2><%= form_title %></h2>
    </div>
    <div class="form__field">
        <% if @forum_reply.present? %> 
            <%= form.cktext_area :body, class: "form__input", value: reply_body %>
            <% @forum_reply.errors.full_messages_for(:body).each do |body_error| %>
                <span class="form__error"><%= body_error %></span>
            <% end %>
        <% else %>
            <%= form.cktext_area :body, class: "form__input" %>
        <% end %>
    </div>
    <%= form.submit "Submit", class: "form__submit" %>    
<% end %>