<section class="profile-section">
    <div class="container">
        <div class="profile-section__header">
            <h1 class="profile-section__username"><%=@user.username %>'s Profile</h1>        
             <%= link_to "Edit Profile", edit_user_registration_path, class: "btn" %>
        </div>

        <div class="biography">
            <p>
                Phasellus sit amet urna efficitur, porta odio vitae, condimentum purus. Praesent a orci blandit ex euismod pulvinar. In quis ligula sed sem mattis cursus. Aliquam erat volutpat. Morbi sed risus cursus, fermentum ex ultrices, ullamcorper leo. Aenean sagittis ante libero, ut pulvinar augue ornare eu. Aliquam fermentum massa nec nibh maximus dapibus. Vivamus et quam mauris.
            </p>
        </div>

        <div class="stats">
            <h2>Stats</h2>
            <ul class="stats__list">
                <li class="stats__item">
                    <span class="stats__value">1</span>
                    <span class="stats__label">threads created</span>
                </li>
                <li class="stats__item">
                    <span class="stats__value">3</span>
                    <span class="stats__label">replies created</span>
                </li>
                <li class="stats__item">
                    <span class="stats__value"><%= @user.created_at.strftime('%D') %></span>
                    <span class="stats__label">account created</span>
                </li>
                <li class="stats__item">
                    <span class="stats__value"><%= @user.last_sign_in_at.strftime('%D')%></span>
                    <span class="stats__label">last visited</span>
                </li>
            </ul>   
        </div>

        <div class="tabs">
            <ul class="tabs__list">
                <li class="active tab" data-tab-target="#created">Threads</li>
                <li class="tab" data-tab-target="#replies">Replies</li>
            </ul>
            <div class="tabs__content">
                <div id="created" class="active tabs__panel" data-tab-content>
                    <div class="forum-thread__container">
                        <div class="forum-thread header">
                            <div class="forum-thread__title">Title</div>
                            <div class="forum-thread__author">Author</div>
                            <div class="forum-thread__replies">Replies</div>
                            <div class="forum-thread__activity">Activity</div>
                        </div>
                        <%= render partial: "forums/forum_thread", collection: @user.forum_threads.ordered_by_updated %>
                    </div>
                </div>
                <div id="replies" class="tabs__panel" data-tab-content>
                    <div class="profile-replies">
                        <% @user.forum_replies.each do |reply| %>
                            <article class="profile-reply">
                                <h3 class="profile-reply__title"><%= link_to reply.forum_thread.title, forum_thread_path(reply.forum_thread, anchor: "comments:id=#{reply.id}") %></h3>
                                <div class="profile-reply__forum"><%= reply.forum_thread.forum.title %></div>
                                <div class="profile-reply__content">
                                    <%= truncate(reply.body, escape: false, length: 600) %>
                                </div>
                            </article>
                        <% end %>                    
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>

