<section class="profile-section">
    <div class="container">
        <div class="profile-section__header">
            <%= gravatar_image_tag(@user.email, class: 'profile-section__avatar', alt: @user.username) %>
            <h1 class="profile-section__username"><%=@user.username %></h1>        
            <% if current_user == @user %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "btn" %>
            <% end%>
        </div>

        <div class="biography">
            <%= sanitize @user.biography %>
        </div>

        <%= render "stats", user: @user %>
        <%= render "tabbed_posts", user: @user %>
    </div>
</section>

