<header class="site-header">
    <div class="site-header__top">
        <%= link_to root_path do %>
            <%= image_tag 'https://uilogos.co/img/logomark/leaf.png', class: "site-header__logo" %>
        <% end %>
        <nav class="nav start">
            <ul class="nav__list">
                <li class="nav__item"><%= link_to 'Forums', '/forums', class: "nav__link" %></li>
                <li class="nav__item"><%= link_to 'Latest', '/latest', class: "nav__link" %></li>
            </ul>
        </nav>
        <nav class="nav end">
            <ul class="nav__list">
                <% if user_signed_in? %>
                    <li class="nav__item"><%= link_to current_user.username, current_user, class: "nav__link" %></li>
                    <li class="nav__item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav__link" %></li>
                <% else %>
                    <li class="nav__item"><%= link_to 'Register', new_user_registration_path, class: "nav__link" %></li>
                    <li class="nav__item"><%= link_to 'Login', new_user_session_path, class: "nav__link" %></li>
                <% end %>
            </ul>
        </nav> 
        <button class="menu-trigger">
            <span class="menu-trigger__bar"></span>
            <span class="menu-trigger__bar"></span>
            <span class="menu-trigger__bar"></span>
        </button>  
    </div>
    <%= render "shared/mobile-menu" %>
    <div class="hero">
        <div class="hero__text">
            <h1>FinalForum</h1>
            <h3>Connect with the Finalsite Community</h3>
        </div>
    </div>
</header>