<%= form_with model: user, url: user_session_path, class: 'form' do |form| %>
    <div class="form__title">
      <h1>Login</h1>
    </div>

      <div class="message message--info">
        If you would like to use a <strong>premade account</strong>, the login credentials are:
        <br>
        <br>
        <strong>Username</strong> - visitor@example.com
        <br>
        <strong>Password</strong> - testing
    </div>

    <div class="form__field">
      <%= form.label :email, class: "form__label" %>
      <%= form.email_field :email, class: "form__input", autofocus: true, required: true, autocomplete: "email" %>
      <% user.errors.full_messages_for(:email).each do |email_error| %>
        <span class="form__error"><%= email_error %></span>
      <% end %>
    </div>

    <div class="form__field">
      <%= form.label :password, class: "form__label" %>
      <%= form.password_field :password, class: "form__input", required: true, autocomplete: "new-password" %>
      <% user.errors.full_messages_for(:password).each do |password_error| %>
        <span class="form__error"><%= password_error %></span>
      <% end %>
    </div>


    <div class="form__actions">
      <%= form.button "Submit", class: "form__submit" %>
    </div>
  <% end %>