<div class="forum-post">
    <header class="forum-post__head bolded">
        <% if !forum_post.has_attribute?(:title) %>
                <%= link_to forum_post.created_at.strftime('%Y-%m-%d, %I:%M %p'), "#comments:id=#{forum_post.id}", id: "comments:id=#{forum_post.id}" %>
        <% else%>
                <%= forum_post.created_at.strftime('%Y-%m-%d, %I:%M %p') %>
        <% end %>

        <% if reply_author?(forum_post) || user_has_role?(:admin) %>
            <% if !forum_post.has_attribute?(:title) %>
                <div class="forum-post__options">
                    <%= link_to edit_forum_reply_path(forum_post) do %>
                        <span class="fa fa-edit"></span>
                    <% end%>
                    <%= link_to forum_reply_path(forum_post), method: :delete, data: {confirm: "Are you sure you want to delete this reply?"} do %>
                        <span class="fa fa-trash"></span>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </header>
    <div class="forum-post__content">
        <div class="forum-post__user">
            <%= gravatar_image_tag(forum_post.author.email, class: 'forum-post__avatar', alt: forum_post.author.username) %>
            <div class="forum-post__meta">
                <span class="forum-post__author <%= author_has_role?(forum_post.author, :admin) ? 'admin' : '' %>" ><%= link_to forum_post.author.username, user_path(forum_post.author) %></span>
                <% if author_has_role?(forum_post.author, :admin) %>
                    <div class="forum-post__title">Administrator</div>
                <% end %>
                <div class="forum-post__joined">
                    <span class="bolded">Joined:</span>
                    <%= forum_post.author.created_at.strftime('%b %Y') %>
                </div>                
            </div>
        </div>
        <div class="forum-post__body">
            <%= sanitize forum_post.body %>
        </div>        
    </div>
</div>    